
body{
    background: radial-gradient(circle, rgb(169, 77, 79) 0%, rgb(65, 143, 232) 100%);
}

.App{
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4e4e4e;
    color: #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    
}
.message{
    color: rgb(237, 39, 39);
}
.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.form-input[type="file"] {
    width: auto; 
}

.form-input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox {
    margin-top: 10px;
    font-size: 14px;
}

  button{
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submit-btn {
    background-color: #0dff00;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 10px;
    align-self: center; 
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto;
}

.submit-btn:hover {
    background-color: #17fddf; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgb(138, 138, 138); 
}
